{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="text-lg">
  <head>
    <meta name="description"
          content="Create random round robin tournaments with randomized teams and track scores on a scoreboard.">
    <meta name="keywords" content="Random, Tournament, Scoreboard">
    <title>
      {% block title %}
        TITLE
      {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% tailwind_preload_css %}
    {% tailwind_css %}
  </head>
  <body>
    <header class="py-2 px-4 bg-gray-100 border-b">
      <a href="{% url "matchmaker:index" %}">
        <h2 class="text-2xl mx-auto max-w-screen-sm">
          {% block heading %}
            HEADING
          {% endblock heading %}
        </h2>
      </a>
    </header>
    <div class="mx-auto max-w-screen-sm">
      {% block content %}
        CONTENT
      {% endblock content %}
    </div>
  </body>
</html>
