{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="text-lg">
  <head>
    <title>
      {% block title %}TITLE{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% tailwind_preload_css %}
    {% tailwind_css %}
  </head>
  <header class="py-2 px-4 bg-gray-100 border-b">
    <a href="/">
      <h2 class="text-2xl">Matchmaker</h2>
    </a>
  </header>
  <body>
    <div class="py-6 mx-auto max-w-screen-sm">
      {% block content %}CONTENT{% endblock %}
    </div>
  </body>
</html>
