{% extends "base.html" %}

{% block title %}Matchmaker{% endblock %}

{% block content %}
  <form action="{% url 'matchmaker:index' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-4">
        {{ field.errors }}
        <div class="block text-gray-700 text-lg font-bold">{{ field.label_tag }}</div>
        {{ field }}
      </div>
    {% endfor %}
    <div>
      <button class="btn-blue" type="submit">Randomize Teams</button>
    </div>
  </form>
{% endblock %}
