{% extends "base.html" %}

{% block title %}Matchmaker{% endblock %}

{% block heading %}Matchmaker{% endblock %}

{% block content %}
  <form action="{% url 'matchmaker:index' %}" method="post" class="mx-4">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-4">
        {{ field.errors }}
        <div class="block font-bold text-gray-700">{{ field.label_tag }}</div>
        {{ field }}
      </div>
    {% endfor %}
    <div class="mx-auto max-w-fit">
      <button class="btn" type="submit">Teams Aufstellen</button>
    </div>
  </form>
{% endblock %}
