{% extends "base.html" %}

{% block title %}
  Matchmaker: Teams
{% endblock title %}

{% block heading %}
  Teams
{% endblock heading %}

{% block content %}
  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-1">
      {% for team in teams %}
        <div class="p-2">
          <div class="p-1 flex flex-wrap justify-evenly w-full bg-{{ team.hue }}-300 rounded-md shadow">
            {% for player in team.members %}<span class="mx-2 capitalize">{{ player }}</span>{% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-2">
      <button class="btn" onclick="window.location.reload()">Teams Neu Würfeln</button>
      <button class="btn"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-post="{{ request.path }}">Neues Turnier Erstellen</button>
    </div>
  </div>
{% endblock content %}
