{% extends "base.html" %}

{% block title %}Matchmaker: Teams{% endblock %}

{% block content %}
  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-1">
      {% for team in teams %}
        <div class="p-1 m-2 flex justify-evenly w-full bg-{{ team.hue }}-300 rounded-md shadow">
          {% for player in team.members %}<span class="mx-2 capitalize">{{ player }}</span>{% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-2">
      <button class="btn" onclick="window.location.reload()">Neu Verteilen</button>
      <a class="btn" href="{% url 'matchmaker:tournament' %}">Turnier Aufstellen</a>
    </div>
  </div>
{% endblock %}
