{% extends "base.html" %}

{% block title %}Matchmaker: Turnierübersicht{% endblock %}

{% block heading %}Turnierübersicht{% endblock %}

{% block content %}
  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-1">
      {% for round in tournament %}
        <a class="p-1 m-2 bg-blue-500 rounded-md shadow transition-colors hover:bg-blue-400"
           href="{% url 'matchmaker:rounds' forloop.counter %}">
          <div class="mx-2 font-bold text-white">Runde {{ forloop.counter }}</div>
        </a>
      {% endfor %}
    </div>
  </div>

  <hr>

  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-scores">
      {% for team, score in scores.items %}
        <div class="p-2">
          <div class="p-1 flex justify-evenly w-full bg-{{ team.hue }}-300 rounded-md shadow">
            {% for player in team.members %}<span class="mx-2 capitalize">{{ player }}</span>{% endfor %}
          </div>
        </div>
        <div class="p-3">{{ score }}</div>
      {% endfor %}
    </div>
  </div>

  <script>
    window.addEventListener( "pageshow", function ( event ) {
      var historyTraversal = event.persisted ||
                             ( typeof window.performance != "undefined" &&
                                  window.performance.navigation.type === 2 );
      if ( historyTraversal ) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
{% endblock %}
