{% extends "base.html" %}

{% block title %}Matchmaker: Turnierübersicht{% endblock %}

{% block heading %}Turnierübersicht{% endblock %}

{% block content %}
  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-1">
      {% for round in tournament %}
        <a class="p-1 m-2 bg-blue-500 rounded-md shadow transition-colors hover:bg-blue-400"
           href="{% url 'matchmaker:rounds' forloop.counter %}">
          <div class="mx-2 font-bold text-white">Runde {{ forloop.counter }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
