{% extends "base.html" %}

{% block title %}
  Matchmaker: Turnierübersicht
{% endblock title %}

{% block heading %}
  Turnierübersicht
{% endblock heading %}

{% block content %}

  <div class="inline-grid grid-cols-1 min-w-full">
    {% for round in tournament %}
      <details>
        <summary>Runde {{ forloop.counter }}</summary>
        <div>
          <div class="inline-grid grid-cols-round">
            {% for match in round %}
              <div class="flex items-center p-2">
                <div class="p-1 flex flex-wrap justify-evenly items-center bg-{{ match.left.hue }}-300 rounded-md shadow">
                  {% for player in match.left.members %}
                    <span class="mx-2 capitalize">{{ player }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="flex items-center">
                <input class="m-1"
                       type="radio"
                       name="{{ forloop.counter0 }}"
                       value="LEFT_WON"
                       {% if match.state == "LEFT_WON" %}checked{% endif %}
                       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                       hx-post="{{ request.path }}">
                <input class="m-1"
                       type="radio"
                       name="{{ forloop.counter0 }}"
                       value="TBD"
                       {% if match.state == "TBD" %}checked{% endif %}
                       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                       hx-post="{{ request.path }}">
                <input class="m-1"
                       type="radio"
                       name="{{ forloop.counter0 }}"
                       value="RIGHT_WON"
                       {% if match.state == "RIGHT_WON" %}checked{% endif %}
                       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                       hx-post="{{ request.path }}">
              </div>
              <div class="flex items-center p-2">
                <div class="p-1 flex flex-wrap justify-evenly items-center bg-{{ match.right.hue }}-300 rounded-md shadow">
                  {% for player in match.right.members %}
                    <span class="mx-2 capitalize">{{ player }}</span>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </details>
    {% endfor %}
  </div>

  <hr>

  <div class="mx-auto max-w-fit">
    <div class="inline-grid grid-cols-scores">
      {% for team, score in scores.items %}
        <div class="p-2">
          <div class="p-1 flex flex-wrap justify-evenly w-full bg-{{ team.hue }}-300 rounded-md shadow">
            {% for player in team.members %}<span class="mx-2 capitalize">{{ player }}</span>{% endfor %}
          </div>
        </div>
        <div class="p-3">{{ score }}</div>
      {% endfor %}
    </div>
  </div>

  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
{% endblock content %}
